<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <title>Create Order</title>
</head>

<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/images/vnpay-logo.png}" style="width: 200px">
                    <h2 class="card-title">Tạo Đơn Hàng</h2>
                    <form th:action="@{/submitOrder}" method="post">
                        <div class="form-group">
                            <label for="amount">Số tiền:</label>
                            <input type="number" class="form-control" id="amount" name="amount" required value="299999">
                        </div>
                        <div class="form-group">
                            <label for="orderInfo">Thông tin đơn hàng:</label>
                            <input type="text" class="form-control" id="orderInfo" name="orderInfo" required value="Thanh toan don hang 2923">
                        </div>
                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>
                <ul>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>
                <ul>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>
                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                </p>
                <div class="p-t-27">
                    <a th:href="@{/#}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a th:href="@{/#}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a th:href="@{/#}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>
                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a th:href="@{/#}" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-01.png}" alt="ICON-PAY">
                </a>
                <a th:href="@{/#}" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-02.png}" alt="ICON-PAY">
                </a>
                <a th:href="@{/#}" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-03.png}" alt="ICON-PAY">
                </a>
                <a th:href="@{/#}" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-04.png}" alt="ICON-PAY">
                </a>
                <a th:href="@{/#}" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-05.png}" alt="ICON-PAY">
                </a>
            </div>
            <p class="stext-107 cl6 txt-center">

                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>

            </p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>